@keyframes loadOpacity {
    from {
        font-size: var(--font-size-max-laytop);
        opacity: 0;
    } to {
        font-size: 3.9rem;

        opacity: 1;
    }
}
@keyframes peopleDown {
    0%,33%{
        transform: translateY(-4px);
    }
    to{
        transform: translateY(140px);
    }
}
@keyframes spinPicture {
    0% {
        background: linear-gradient(0deg,var(--secondary_color), var(--primary_color));
	}
	100% {
        background: linear-gradient(360deg,var(--secondary_color), var(--primary_color));
	}
}