$secondary_color:rgb(12, 228, 243);
:root {
    --primary_color: rgb(49, 48, 48);
    --secondary_color: rgb(12, 228, 243);
    --font-size-max-laytop: 8.9rem;
}
@media screen and (max-width: 800px) {
    :root {
        --font-size-max-laytop: 4.9rem;
    }

}
@media screen and (max-width: 500px) {
    :root {
        --font-size-max-laytop: 3.5rem;
    }

}