
section.container_game {
    height: 100%;
    width: 100%;
    display: flex;
}
.container_game, .Game {
    width: 100%;
}
.Game {
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.list_peoples {
    width: calc(100vw - 500px);height: max-content;
    padding: 2.5rem;
    background-color: var(--third_color);
    // margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap:2.5rem 1rem;
}
li.people {
    border:solid;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.people_container {
    background: var(--quad_color);
    position: relative;
    padding: 5px;
    padding-bottom: 0;
}
.name_people{
    color: var(--secondary_color);
    background: var(--primary_color);
    position: relative;
    text-align: center;
    padding: 3.5px 0;
    margin: 0 -5px ;
}
img.people_img {
    cursor: pointer;
    object-fit: cover;
    margin: auto;
    border-radius: 40px 40px 0 0;
    aspect-ratio: 1/1;
    width: 100%;
    transition-duration: 250ms;
    margin-bottom: -8px;
}
.people_down {
    animation: 600ms peopleDown 200ms ease-out;
    transition-delay: 600ms;
    transform: translateY(123px);
}
.container-img-choice {
    transition-duration: 600ms;
    transition-delay: 120ms;
    transform: translateX(195px);
    z-index: 3;
    position: fixed;
    top: 120px;
    height: 208px;
    right: 0px;
    padding: 0 11px 0 0;
    display: flex;
    align-items: center;
    background-image: linear-gradient(90deg, var(--primary_color) 84%, var(--secondary_color));
    gap: 1rem;
    display: grid;
    grid-template-areas:  "BTN PIC"
                          "BTN PIC"
                          "BTN NAME";
    &>.border-l-grad-img{
        grid-area: PIC;
        padding: 9px;
        border-radius: 50%;
        background: linear-gradient(0deg,var(--secondary_color), var(--primary_color));
        animation: spinPicture 200ms  infinite;
        &>img{
            display: flex;
            width: 150px;
            border-radius: 50%;
            aspect-ratio: 1 / 1;
        }
    }
}
.arow_revers{
    transform: rotateZ(180deg);
}
.name-select_people{
    grid-area: NAME;
    text-align: center;
}
.show_selected_people {
    box-shadow: -7px 7px 16px -4px black;
    transform: translateX(0);
    
}
.btn_show_people_choice {
    grid-area: BTN;
    border: none;
    background: rgb(77, 77, 77);
    height: 100%;
    color: white;
    font-weight: 900;
    cursor: pointer;
    padding: 0 12px;
    &:hover {
        padding: 0 6.5px;
        font-size: 2rem;
    }
}
@media screen and (max-width: 1400px) {
    ul.list_peoples {
        width: calc(100vw - 250px);
    }
    .people_down {
        transform: translateY(70px);
    }
}
@media screen and (max-width: 1200px) {
    ul.list_peoples {
        width: calc(100vw - 150px);
    }
    
    .people_down {
        transform: translateY(60px);
    }
}
@media screen and (max-width: 950px) {
    ul.list_peoples {
        width: calc(100vw - 80px);
    }
}
@media screen and (max-width: 800px) {
    section.container_game {
        height: max-content;
    }
    ul.list_peoples {
        width: 100vw ;
        margin: 81px 0 61px;
        padding-bottom: 50px;
        grid-template-columns: repeat(3, 1fr);
        gap:1.9rem 1rem;
    }
    .people_down {
        transform: translateY(50px);
    }
}
@media screen and (max-width: 450px) {
    .people_down {
        transform: translateY(60px);
    }
}
@media screen and (max-width: 350px) {
    ul.list_peoples {
        grid-template-columns: 1fr;
        gap:1rem;
    }
    .people_down {
        transform: translateY(132px);
    }
}